@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <section class="col-md-4" aria-labelledby="contato">
        <h2 id="contato">Entre em contato</h2>
        <p>
            <strong>Endereço:</strong> Rua das Flores, 123 - Centro<br>
            <strong>Telefone:</strong> (11) 1234-5678<br>
            <strong>Email:</strong> contato@clinvet.com.br<br>
        </p>
        <div class="redes-sociais">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </section>
</main>